namespace {%ProjectName%}
{
    #region {%Entity%}的实体类，无法继承
    /// <summary>
    /// {%Entity%}的实体类，无法继承
	/// <para>author:zhoulitcqq</para>
    /// </summary>
	public partial class {%Entity%}
	{
        #region Properties
        {%Fields%}
        #endregion
	}
    #endregion
}